<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/c15c638c-761d-42ff-a287-1fc9e120b2df/resourceGroups/rgCMPG323Project/providers/Microsoft.Web/sites/cmpg323project2AppService</ResourceId>
    <ResourceGroup>rgCMPG323Project</ResourceGroup>
    <ApiResourceId>/subscriptions/c15c638c-761d-42ff-a287-1fc9e120b2df/resourceGroups/rgCMPG323Project/providers/Microsoft.ApiManagement/service/cmpg323projectAPIService/apis/cmpg323projectAPI</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://cmpg323project2appservice.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>bbe26010-1340-4c8c-9908-64a9f687c2b4</ProjectGuid>
    <MSDeployServiceURL>cmpg323project2appservice.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>cmpg323project2AppService</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>$cmpg323project2AppService</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>